.item {
  display: flex;
  align-items: center;

  img {
    width: 50px;
    margin-right: 10px;
  }
  span {
    display: flex;
    align-items: center;
    font-size: 12px;

    img {
      width: 20px;
    }
  }
}