.users {
    .user {
        display: flex;
        width: 100%;
        border: 1px solid lightblue;
        margin: 0 0 20px 0;
        padding: 10px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;

        .body {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            padding: 0 10px;
            height: 65px;

            p {
                color: #5ac4e6;
                font-size: 20px;
                margin: 0;
            }
            span {
                font-style: italic;
                color: grey;
            }
        }

        img {
            width: 100px;
        }
        
        button {
            background: #84c37d;
            color: #fff;
            border: 2px solid #84c37d;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            cursor: pointer;

            &.follow {
                &:disabled {
                    color: #fff;
                    border: 2px solid lightgrey;
                    background: lightgrey;
                }
            }
            &.unfollow {
                background: transparent;
                color: #84c37d;

                &:disabled {
                    color: lightgrey;
                    border: 2px solid lightgrey;
                }
            }
        }
    }
}

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    color: #3b713b;
    margin: 0 0 20px 0;
    width: calc(100vw - 320px);
    overflow: hidden;

    li {
        margin-left: 10px;
        cursor: pointer;

        &.selected {
            font-weight: bold;
            cursor: default;
        }
    }
}